@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
		line-height: 1.5;
		font-weight: 400;

		color-scheme: light dark;
		color: rgba(255, 255, 255, 0.87);
		background-color: #242424;

		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-text-size-adjust: 100%;
	}
}
.loader {
	@apply w-[40px] h-[40px] border-2  border-t-white border-l-white border-r-white border-transparent rounded-full animate-spin;
}
@layer utilities {
	.direction {
		direction: rtl;
	}
	.scriptComparison {
		display: block; /* Ensures it behaves like a block element */
		width: 100%; /* Makes it take the full width available */
		margin-top: 0; /* Resets any top margin */
		margin-bottom: 0.5rem; /* Adds bottom margin for separation */
	}
	.scriptComparison span {
		display: inline-block; /* Ensures each word is on its own line */
		margin-right: 0.5rem; /* Adds space between words */
		white-space: nowrap; /* Prevents wrapping of long words */
	}
}
